/* Base commune à toutes les résolutions */
@font-face {
    @import url('https://fonts.googleapis.com/css?family=Roboto:500');
    font-family: @fontTitre;
}
@font-face {
    @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    font-family: @fontTexte;
}
html {
    font-size: 62.5%;
}

h2{
    font-family: @fontTitre;
    color:@noir;
    font-size: 6rem;
    line-height: 6rem;
    font-weight: bolder;
    text-transform: uppercase;

    @media screen and (max-width: @tablet) {
        font-size: 4rem;
        line-height: 4rem;
    }
    
    @media screen and (max-width: @tablet) {
        font-size: 3.25rem;
        line-height: 3.25rem;
    }
}

h3{
    font-family: @fontTitre;
    color: @noir;
    font-size:3.5rem;
    line-height: 3.5rem;
    
    @media screen and (max-width: @tablet) {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    
    @media screen and (max-width: @tablet) {
        font-size: 2.25rem;
        line-height: 2.25rem;
    }
}

label{
    font-family: @fontTexte;
    font-weight: 200;
    color: @noir;
    font-size: 2rem;
}
p{
    font-family: @fontTexte;
    font-size: 1.6rem;
}
nav{
    font-family: @fontTitre;
    .nav-secondaire{
        font-size: 2rem;
    }
    .nav-principal{
        font-size:3rem;
    }
    @media screen and (max-width: @tablet) {
        text-align: center;
        ul:first-of-type{
            font-size: 3rem;
        }
        ul:last-of-type{
            font-size:2rem;
        }
    }
}
.cat_title{
    font-family: @fontTitre;
    font-size: 24px;
    color: @blanc;
}
.btn-calltoaction{
    font-family: @fontTitre;
    font-size: 24px;
    color: @blanc;
    text-decoration: none;
}

input[type='submit'], .snipcart-add-item{
    font-family: @fontTitre;
    font-size: 18px;
    color: @blanc;
}