.Product{
    h2{
        margin-top: 5rem;
    }
    
    .container-info{
        margin-top: 3.5rem;
        display: flex;
        flex-wrap: wrap;
    }
    
    .img-affiche{
        width: 337.5px;
        height: 450px;
    }
    
    .img-affiche:hover:before{
        opacity: 0;
    }
    
    .Right{        
        position: relative;
    }
    
    .snipcart-add-item{
        position: absolute;
        bottom: 0;
    }

}